!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title 擬似マイナンバーくん
    %meta{:content => "有効なチェックディジットを持つランダムなマイナンバー、法人番号を生成します。テスト等にお役立てください。", :name => "Description"}
    %meta{:content => "マイナンバー,法人番号,ジェネレーター,テスト,チェックディジット", :name => "Keywords"}
  %body
    %h1 擬似マイナンバーくん
    %p
      有効なチェックディジットを持つランダムなマイナンバー、法人番号を生成します。
      %br
      テスト等にお役立てください。

    %h2 マイナンバー
    - @my_numbers.each do |n|
      = n
      %br

    %h2 法人番号
    - @corp_numbers.each do |n|
      = n
      %br